
<footer id="footer">
  <div class="footer2">
    <div class="container">
      <div class="row">
        
        <div class="col-md-6 widget">
          <div class="widget-body">
            <p class="simplenav">
              <%= link_to "About",   about_path %> |
              <%= link_to "Support",   support_path %> |
              <b><%= link_to "Login",   "#" %></b> |
              <b><%= link_to "Sign Up",   signup_path %></b>
            </p>
          </div>
        </div>

        <div class="col-md-6 widget">
          <div class="widget-body">
            <p class="text-right">
              Copyright &copy; 2014, Pedro Peres.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</footer>